# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Flask instance folder
instance/

# OS junk
.DS_Store

# =========================
# Flask user uploads (IMPORTANT)
# =========================
static/uploads/documents/*
static/uploads/images/*

# Keep folder structure
!static/uploads/documents/.gitkeep
!static/uploads/images/.gitkeep

# Local admin seeding script
seed_admin.py
