# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Flask instance folder
instance/

# OS junk
.DS_Store

# =========================
# User uploads (IMPORTANT)
# =========================
static/uploads/**

# Allow folder structure
!static/uploads/
!static/uploads/chat/
!static/uploads/chat/chat_docs/
!static/uploads/chat/chat_images/
!static/uploads/post/
!static/uploads/post/post_docs/
!static/uploads/post/post_images/
!static/uploads/profile_photos/

# Allow only .gitkeep files
!static/uploads/**/.gitkeep

# Local admin seeding script
seed_admin.py
